version: '3.8'

services:
  frontend-web:
    container_name: frontend
    image: frontend-web:latest
    ports:
      - "3000:3000"
    expose:
      - "3000"
    environment:
      NODE_ENV: production
      API_GATEWAY_URL: http://98.86.94.92:8080
      API_GATEWAY_HOST: 98.86.94.92
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - frontend-net

networks:
  frontend-net:
    driver: bridge
