version: '3.8'

services:
  frontend-web:
    container_name: frontend-web
    image: frontend-web:latest
    ports:
      - "80:80"
      - "443:443"
    environment:
      NODE_ENV: production
      API_GATEWAY_URL: http://3.214.212.205:8080
      API_GATEWAY_HOST: 3.214.212.205
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - vpc-network

networks:
  vpc-network:
    driver: bridge
