version: '3.8'
services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    restart: unless-stopped
    networks:
      - core-net

  micro-auth:
    build:
      context: .
      dockerfile: micro-auth/Dockerfile
    env_file:
      - ./micro-auth/.env
    depends_on:
      - mongo
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - core-net

  micro-estudiantes:
    build:
      context: .
      dockerfile: micro-estudiantes/Dockerfile
    env_file:
      - ./micro-estudiantes/.env
    depends_on:
      - mongo
    ports:
      - "3001:3001"
    restart: unless-stopped
    networks:
      - core-net

  micro-maestros:
    build:
      context: .
      dockerfile: micro-maestros/Dockerfile
    env_file:
      - ./micro-maestros/.env
    depends_on:
      - mongo
    ports:
      - "3002:3002"
    restart: unless-stopped
    networks:
      - core-net

  micro-reportes-estudiantes:
    build:
      context: .
      dockerfile: micro-reportes-estudiantes/Dockerfile
    env_file:
      - ./micro-reportes-estudiantes/.env
    depends_on:
      - mongo
      - postgres
    ports:
      - "5003:5003"
    restart: unless-stopped
    networks:
      - core-net

  micro-reportes-maestros:
    build:
      context: .
      dockerfile: micro-reportes-maestros/Dockerfile
    env_file:
      - ./micro-reportes-maestros/.env
    depends_on:
      - mongo
      - postgres
    ports:
      - "5004:5004"
    restart: unless-stopped
    networks:
      - core-net

  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: acompanamiento
    ports:
      - "5432:5432"
    networks:
      - core-net
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api-gateway:
    build:
      context: ./api-gateway
    env_file:
      - ./api-gateway/.env
    ports:
      - "8080:8080"
    depends_on:
      - micro-estudiantes
    restart: unless-stopped
    networks:
      - core-net
# Redes compartidas

# Redes compartidas
networks:
  core-net:
    external: true

volumes:
  postgres_data:
