# Este archivo debe ser generado con mosquitto_passwd
# NO incluir en git - archivo de ejemplo

# Generar el archivo real:
# mosquitto_passwd -c passwords.txt admin
# mosquitto_passwd passwords.txt micro_analytics
# mosquitto_passwd passwords.txt micro_notificaciones
# mosquitto_passwd passwords.txt monitoring
# mosquitto_passwd passwords.txt micro_reportes

# Formato: username:hashed_password
# admin:$7$102$WQiJLhL5$vu+hfC+$WdMV5IVXEi8BjrTx3ey1AzR8bVZrFfLX01fvbvdNOELr/+v0rQG==
# micro_analytics:$7$102$WQiJLhL5$vu+hfC+$...
# micro_notificaciones:$7$102$WQiJLhL5$vu+hfC+$...
# monitoring:$7$102$WQiJLhL5$vu+hfC+$...
# micro_reportes:$7$102$WQiJLhL5$vu+hfC+$...
