name: Build, Push, and Deploy API Gateway

on:
  push:
    branches: [ "main" ]
    paths:
      - "api-gateway/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/api-gateway:latest ./api-gateway/
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/api-gateway:latest

  deploy-aws:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Set permissions for private key
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.EC2_USER }}@${{ secrets.API_GATEWAY_HOST }} << 'EOF'
          sudo apt update -y
          if ! command -v docker &> /dev/null
          then
            sudo apt install -y docker.io
            sudo systemctl start docker
            sudo systemctl enable docker
          fi

          sudo docker stop api-gateway-container || true
          sudo docker rm api-gateway-container || true
          sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/api-gateway:latest
          sudo docker run -d -p 80:8080 --name api-gateway-container ${{ secrets.DOCKERHUB_USERNAME }}/api-gateway:latest
          sudo docker image prune -f
          EOF
