name: api-gateway-ci

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  IMAGE_NAME: proyecto-acomp-api-gateway

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: ./api-gateway
          file: ./api-gateway/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/proyecto-acomp-api-gateway:latest

      - name: Deploy to EC2 (AWS Academy)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/proyecto-acomp-api-gateway:latest
            docker stop api-gateway || true
            docker rm api-gateway || true
            docker run -d \
              --name api-gateway \
              -p 8080:8080 \
              ${{ secrets.DOCKERHUB_USERNAME }}/proyecto-acomp-api-gateway:latest
