name: Deploy Prometheus

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'monitoring/prometheus/**'
      - '.github/workflows/deploy-prometheus.yml'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Update instance IPs
        run: |
          python3 update_instance_ips.py

      - name: Build and push Prometheus
        uses: docker/build-push-action@v4
        with:
          context: monitoring/prometheus
          file: monitoring/prometheus/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/proyecto-prometheus:1.0

      - name: Deploy Prometheus
        run: |
          echo "Deployment step for Prometheus can be added here."

      # Verificar logs y endpoints
      - name: Check logs
        run: |
          python3 check-container-logs.py

      - name: Verify endpoints
        run: |
          python3 check-api-gateway-config.py