name: Build, Push, and Deploy Frontend Web

on:
  push:
    branches: [ "main" ]
    paths:
      - "frontend-web/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/frontend-web:latest ./frontend-web/
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/frontend-web:latest

  deploy-aws:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Set permissions for private key
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_FRONTEND_HOST }} << 'EOF'
          sudo yum update -y
          if ! command -v docker &> /dev/null
          then
            sudo yum install -y docker
            sudo systemctl start docker
            sudo systemctl enable docker
          fi

          sudo docker stop frontend-web-container || true
          sudo docker rm frontend-web-container || true
          sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/frontend-web:latest
          sudo docker run -d -p 80:80 --name frontend-web-container ${{ secrets.DOCKERHUB_USERNAME }}/frontend-web:latest
          sudo docker image prune -f
          EOF
