name: Build, Push, and Deploy Micro Maestros

on:
  push:
    branches: [ main ]
    paths:
      - micro-maestros/**

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker Image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/proyecto-acomp-micro-maestros:latest ./micro-maestros
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/proyecto-acomp-micro-maestros:latest

  deploy-ec2:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
    - name: Set permissions for private key
      run: |
        echo "${{ secrets.EC2_KEY }}" > key.pem
        chmod 600 key.pem

    - name: Deploy to EC2
      run: |
        ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@${{ secrets.EC2_CORE_HOST }} << 'EOF'
        sudo apt-get update -y
        if ! command -v docker &> /dev/null
        then
          sudo apt-get install -y docker.io
          sudo systemctl start docker
          sudo systemctl enable docker
        fi

        sudo docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
        sudo docker stop micro-maestros || true
        sudo docker rm micro-maestros || true
        sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/proyecto-acomp-micro-maestros:latest
        sudo docker run -d -p 3003:8080 --restart unless-stopped --name micro-maestros ${{ secrets.DOCKERHUB_USERNAME }}/proyecto-acomp-micro-maestros:latest

        echo "--- DOCKER PS ---"
        sudo docker ps -a --format 'table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Ports}}\t{{.Names}}' || true

        echo "--- DOCKER IMAGES ---"
        sudo docker images --format 'table {{.Repository}}\t{{.Tag}}\t{{.ID}}\t{{.Size}}' || true

        sudo docker image prune -f
        EOF
