name: Deploy Micro Maestros

on:
  push:
    branches: [ main ]
    paths:
      - micro-maestros/**
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        run: |
          docker build -t caguerronp/proyecto-acomp-micro-maestros:latest ./micro-maestros
          docker push caguerronp/proyecto-acomp-micro-maestros:latest

      - name: Deploy on EC2-3 (Core)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_CORE_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker pull caguerronp/proyecto-acomp-micro-maestros:latest
            docker stop micro-maestros || true
            docker rm micro-maestros || true
            docker run -d \
              --name micro-maestros \
              -p 3003:8080 \
              --restart unless-stopped \
              caguerronp/proyecto-acomp-micro-maestros:latest
