name: Build, Push, and Deploy Micro SOAP Bridge

on:
  push:
    branches: [ "main" ]
    paths:
      - "micro-soap-bridge/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -f micro-soap-bridge/Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/micro-soap-bridge:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/micro-soap-bridge:latest

  deploy-aws:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Set permissions for private key
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_BRIDGE_HOST }} << 'EOF'
          sudo yum update -y
          if ! command -v docker &> /dev/null
          then
            sudo yum install -y docker
            sudo systemctl start docker
            sudo systemctl enable docker
          fi

          sudo docker stop micro-soap-bridge-container || true
          sudo docker rm micro-soap-bridge-container || true
          sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/micro-soap-bridge:latest
          sudo docker run -d -p 3007:3007 --name micro-soap-bridge-container ${{ secrets.DOCKERHUB_USERNAME }}/micro-soap-bridge:latest
          sudo docker image prune -f
          EOF

          echo "--- DOCKER IMAGES ---"
          sudo docker images --format 'table {{.Repository}}\t{{.Tag}}\t{{.ID}}\t{{.Size}}' || true
