name: Build, Push, and Deploy Micro Maestros

on:
  push:
    branches: [ "main" ]
    paths:
      - "micro-maestros/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -f micro-maestros/Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/micro-maestros:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/micro-maestros:latest

  deploy-aws:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Set permissions for private key
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ec2-user@${{ secrets.EC2_CORE_HOST }} << 'EOF'
          sudo yum update -y
          if ! command -v docker &> /dev/null
          then
            sudo yum install -y docker
            sudo systemctl start docker
            sudo systemctl enable docker
          fi

          sudo docker stop micro-maestros-container || true
          sudo docker rm micro-maestros-container || true
          sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/micro-maestros:latest
          sudo docker run -d -p 3003:3003 --name micro-maestros-container ${{ secrets.DOCKERHUB_USERNAME }}/micro-maestros:latest
          sudo docker image prune -f
          EOF
