name: Build, Push, and Deploy Micro Reportes Estudiantes

on:
  push:
    branches: [ "main" ]
    paths:
      - "micro-reportes-estudiantes/**"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -f micro-reportes-estudiantes/Dockerfile -t ${{ secrets.DOCKERHUB_USERNAME }}/micro-reportes-estudiantes:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/micro-reportes-estudiantes:latest

  deploy-aws:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Set permissions for private key
        run: |
          echo "${{ secrets.EC2_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy to EC2
        run: |
          if [ -z "${{ secrets.EC2_REPORTES_HOST }}" ]; then
            echo "ERROR: secret EC2_REPORTES_HOST is not set. Set the correct host secret in repository settings.";
            exit 1;
          fi

          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_REPORTES_HOST }} << 'EOF'
          sudo apt update -y
          if ! command -v docker &> /dev/null
          then
            sudo apt install -y docker.io
            sudo systemctl start docker
            sudo systemctl enable docker
          fi

          sudo docker stop micro-reportes-estudiantes-container || true
          sudo docker rm micro-reportes-estudiantes-container || true
          sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/micro-reportes-estudiantes:latest
          sudo docker run -d --restart unless-stopped -p 4003:4003 --name micro-reportes-estudiantes-container ${{ secrets.DOCKERHUB_USERNAME }}/micro-reportes-estudiantes:latest
          sudo docker image prune -f
          EOF

