name: Deploy Micro Auth

on:
  push:
    branches: [ main ]
    paths:
      - micro-auth/**
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./micro-auth/Dockerfile
          push: true
          tags: caguerronp/proyecto-acomp-micro-auth:latest

      - name: Deploy on EC2-3 (Core)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_CORE_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            docker pull caguerronp/proyecto-acomp-micro-auth:latest
            docker stop micro-auth || true
            docker rm micro-auth || true
            docker run -d \
              --name micro-auth \
              -p 3001:8080 \
              --restart unless-stopped \
              caguerronp/proyecto-acomp-micro-auth:latest
